/**/target/
/**/.settings/
/**/.classpath
/**/.project
/.metadata/
/.vscode/
/**/.factorypath
/webui/pom.xml
/service/src/main/java/org/mardep/ssrs/report/generator/*.orig
/service/src/main/resources/server/report/template/*.orig


/.metadata/
# Eclipse
.classpath
.project
.settings/
.metadata/
webui/src/main/webapp/WEB-INF/lib/


#vscode
.vscode/
.factorypath

#Maven
target/
log/

.svn/
.sonarlint/
.idea/
.recommenders/
.RemoteSystemsTempFiles/
*.log
.factorypath
