<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
 	<import resource="classpath:/server/dmi.xml" />
 	<import resource="classpath:/server/service.xml" />
 	
<!--  	for test here, would be retrieved by JNDI -->
	<jee:jndi-lookup id="dataSource" 	jndi-name="jdbc/ssrsDS" />
<!-- 	setting in jetty-dev.xml -->
	
<!--  	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" -->
<!-- 		destroy-method="close"> -->
<!-- 		<property name="driverClassName" 	value="com.microsoft.sqlserver.jdbc.SQLServerDriver" /> -->
<!-- 		<property name="url" 				value="jdbc:sqlserver://10.23.192.101:1433;databaseName=SSRSDB_DEV" /> -->
<!-- 		<property name="username" 			value="SSRSDB_DevApp" /> -->
<!-- 		<property name="password" 			value="password" /> -->
<!-- 	</bean> -->
    
</beans>